/*
 * Variables
 */
 :root {
    --white-color: #fff;
    --black-color: #000;
    --blue1-color: #0B162C;
    --blue2-color: #709CA7;
    --blue3-color: #1C2942;


}

/* lien vers les fonts / Style de la police */
@font-face {
    font-family: "Tahu Regular";
    src: url("./font/tahu-webfont.woff") format("woff2");
    src: url("./font/tahu-webfont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Choix de la police / Couleur pour la page */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*
* Accueil
*/


/* Taille et couleur */
.taille {
    font-size: 80px;
    color: white;

}

/* Centre le titre / Taille */
.titreSAccueil {
    text-align: center;
    font-size: 65px;
    text-decoration: underline #F5D09C;
    font-weight: 500;
}

/* Taille du paragraphe */
.produit p {
    font-size: 20px;
}

/* Enlever la décoration / Couleur */
.linkNosProds {
    text-decoration: none;
    color: #E2A755;
}

/* Lorsque l'on survole il est souligner */
.linkNosProds:hover {
    text-decoration: underline;
    color: #E2A755;

}

/* Marge */
.para {
    padding-right: 15px;
    float: right;
}

/* disposition de l'image à côté du paragraphe */
.image-produit{ 
    margin-top: -60px;
    z-index: -1;
    position: relative;
    width: 100%;
    height: 750px;
}

.titreAcc{
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
    color: white;
    background-color: #BF9169;
    width: 900px;
    box-shadow: rgba(255, 255, 255, 0.5) 3px 3px, rgba(255, 255, 255, 0.4) 6px 6px, rgba(255, 255, 255, 0.3) 9px 9px, rgba(255, 255, 255, 0.2) 12px 12px,rgba(255, 255, 255, 0.1) 15px 15px;
    padding-top: 5px;
    padding-bottom: 6px;
}

.paraAcc{
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 25%;
    width: 895px;
    font-size: 21px;
    background-color: #BF9169;
    padding: 5px;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 20px;
}


.imgCar{
    height: 730px !important;
}


/* Taille des images */
.affichageProduitsImg {
    width: 250px;
    height: 280px !important;
}

.affichageImg{
    max-height: 100%;
    width: auto;
}

/* Enlever la décoration / Couleur */
.affichageProduits a {
    text-decoration: none;
    color: black;
}

/* Enlever la décoration / Couleur */
.affichageProduits2 a {
    text-decoration: none;
    color: black;
}

/* Couleur */
.linkAvis{
    text-decoration: none;
    color: black;
    white-space: nowrap;
    font-size: 17px;
}

/* Couleur */
.affichageProduits:hover {
    background-color: black solid 5px;
    color: black;
}

/*  Couleur */
.affichageProduits2:hover {
    background-color: black solid 5px;
    color: black;
}

/* souligne lorsque l'on survole le titre des produits / Couleur  */
.affichageProduits .titre-produit .affichageProduits2  a:hover {
    text-decoration: underline;
    color: black;
}

.titre-produit{
    text-align: start;
    max-height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.paraProdAcc{
    font-size: 19px;
}

.linkNbAvis{
    font-size: 17px;
}

/* caractéristique de l'image étoile */

.tailleEtoile img{
    width: 110px;
    
}

.tailleEtoile {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.tailleEtoileImg{
    width: 110px;
}



.linkLi p:hover {
    text-decoration: underline;
    color: black;
    text-align: start;
}

.linkLi {
    margin-bottom: -5px;
    color: black;
    text-align: start;
    
}

.affichageProduits{
    width: 285px;

    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;

}

/* Lorsque quand passe par dessus Enlever la décoration / Couleur */
.affichageProduits a:hover {
    text-decoration: none;
    color: black;
}

.affichageProduits2{
    margin-right: 10px;
}
.js-filter-content{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}



.erreurMessage{
    color: red !important;
    font-size: 18px;
}

.divMsgErr{
    text-align: center;
    margin-top: 10px !important;
    margin-bottom: -38px !important;
}

/* met le logo o'barber au centre*/
.logoIntro{
    display: flex;
    justify-content: center;
}


/* met sur un ligne est aligne à gauche */
.positionBlock {
    text-align: right;
    display: inline;
}


/* caractéristique du bouton ajouté au panier */
.ajoutPanier {
    background-color: #807266;
    color: white;
    padding: 10px 2px 10px 2px;
    margin-top: 4px;
    max-height: 100%;
    overflow: hidden;
    font-size: 17px;
}

/* modifie la taille des titres */
.affichageBestseller h1{
    text-align: center;
    font-size: 65px;
}


/* centre les image */
.imageCentre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* positionnement de la div "affichageBestseller" */
.affichageBestseller {
    position: relative;
    z-index: 1;
}


/* positionnement du titre pour l'huile */
.titre-labonnerecette{
    position: absolute;
    top: 452px;
    left: 100px;
    z-index: 2;
}

/* positionnement du paragraphe pour l'huile */
.text-labonnerecette2{
    position: absolute;
    top: 500px;
    left: 0px;
    z-index: 2;
    text-align: center;
    font-size: 19px;
    width: 500px;
}

/* caractéristique du bouton je découvre pour l'huile */
.btn-jeDecouvre {
    position: absolute;
    top: 580px;
    left: 100px;
    z-index: 2;
    background-color: black;
    color: white;
    padding: 10px 95px 10px 95px;
    border-radius: 1.5rem;
}


/* positionnement de la div "affichageBestseller2" */
.affichageBestseller2 {
    position: relative;
    z-index: 1;
}

/* positionnement du titre pour le beard roller */
.titre-beardroller{
    position: absolute;
    top: 522px;
    left: 1370px;
    z-index: 2;
}

/* positionnement du paragraphe pour le beard roller */
.text-beardroller2{
    position: absolute;
    top: 560px;
    left: 1220px;
    z-index: 2;
    text-align: center;
    font-size: 19px;
    width: 500px;
}

/* caractéristique du bouton je découvre pour le beard roller */
.btn-jeDecouvre2 {
    position: absolute;
    top: 660px;
    left: 1320px;
    z-index: 2;
    background-color: black;
    color: white;
    padding: 10px 95px 10px 95px;
    border-radius: 1.5rem;
}

/*
* Header
*/

/* Met le logo connexion / panier à droite */
#panier, #connexion{
    margin-left: -60px;
}

.recherche {
    position: relative;
    float: right;
    margin-top: -50px;
    margin-right: 10px;
    text-decoration: none;
}


#head {
    background-color: white;
    padding: 20px 0 10px 0;
    /* border-bottom: solid #858585; */
    
}

#head .logo img{
    margin-left: 110px;
    width: 280px;
}

#head .flex{
    display: flex;
}

.iconHeader{
    font-size: 35px;
    color: black;
}

.nav-link{
    font-size: 20px;
}

#head .mini-nav a {
    margin-left: 55px;
    line-height: 80px;
    display: inline-block;

}


/* barre nav */

/* Style pour la liste déroulante Mon Compte */
.dropdown-menu {
    background-color: #f8f9fa;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
  
.dropdown-item {
    color: #495057;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
}
  
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #e9ecef;
    color: #495057;
    text-decoration: none;
}


/*
* Footer
*/




/* fin de page */
footer {
    
    background-color: #BF9169;
    
}

/* caractéristique du footer Taille / Positionnement / Position des éléments du corps */
.contenu-footer {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 70px 0 100px;
    height: 400px;
}

/* Taille de chaque div Taille / Marge */
.bloc {
    width: 25%;
    margin: 0 30px;
    color: white;
}

/* Taille et Couleur du titre / Marge */
.titreFooter{
    font-size: 25px;
    padding-bottom: 20px;
    color: white;
}

.linkFooter{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Lorsqu'on survole les liens il est surligner / Enlever la décoration / Couleur */
.linkFooter:hover {
    text-decoration: none;
    color: white;
    text-decoration : underline;
}

/* Marge et Couleur du paragraphe */
.paraFooter {
    color: white;
    font-size: 20px;
}

.paraCopyright{
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px;
    color: white;
    
}

/* style pour les pages du footer */

.paraPagesFooter{
    font-size: 19px;
}

.titrePagesFooter{
    color: #BF9169;
}

.titreGPagesFooter{
    text-align: center;
    color: #BF9169;
}

.divPagesFooter{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 1150px;
}

.linkPagesFooter{
    text-decoration: none;
    color: #BF9169;
}

.linkPagesFooter:hover{
    text-decoration: underline;
}







/*
* Inscription
*/
#genre-select {
    width: 100%;
    height: 45px;
    background-color: white;
    border: #CED4DA solid 1px;
    color: #6C757D;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px !important;
    
}

.btnInscription2{
    margin-top: 20px;
    background-color: #807266 !important;
    height: 45px !important;
    color: white;
    font-size: 18px;
}

.btnInscription2:hover{
    background-color: #807266 !important;
    color: white;
}

.inputInscription{
    height: 45px;
    font-size: 20px !important;
}

.divSubmitInscription{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 16px;
}

/*
* Un Produit
*/


.imageDuProduit { 
    width:350px;
    height: 350px;
    margin-right: 50px;
}



/* caractéristique de l'image étoile */
.tailleEtoile2 img{
    width: 120px;
    margin-right: 70px;
    margin-bottom: 8px;

}

.tailleEtoile2 a{
    font-size: 20px;
}

.lePrix2 {
    margin-top: 8px;
    font-size: 20px;
}

.paraResume{
    font-size: 20px;
}


/* caractéristique du bouton ajouté au panier */
.ajoutPanier2 {
    background-color: #807266;
    color: white;
    padding: 10px 2px 10px 2px;
    height: 45px;
    text-align: center;
    border-style:none;
    margin-top: 15px;

}


.divAjPan{
    float: right;
}

.divInfoUnProd{
    width: 55%;
}

.divUnProd a {
    text-decoration: none;
    color: black;
    margin-left: -69px;
}

.divUnProd a:hover {
    text-decoration: none;
    color: black;
}


#quantite-produit2 {
    width: 40px;
    text-align: center;
    width: 70px;
    font-size: 20px;
}

.lblQteUnP{
    font-size: 20px;
}

.pagination {
    display: inline-block;
    margin: 0 auto;
    font-size: 18px;
}
  
.pagination a {
    color: black;
    
    padding: 8px 16px;
    text-decoration: none;
}
  
.pagination a.active {
    background-color: #807266;
    color: white;
    border-radius: 5px;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.triCategorie{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #807266;
    color: white;
    border-radius: 0.2em;
    width: 300px;
    height: 50px;
    font-size: 20px;
}

.triCategorie option {
    background-color: white;
    
}







/*
* Bienvenue
*/
.inscription {
    text-align: center;
    margin-top: 20px;
}

.para-inscription {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;

}

.lesLiens {
    text-decoration: none;
    color: black;
}

.lesLiens:hover {
    text-decoration: underline;
    color: black;
}

/*
* Recherche
*/
.suggestions-liste {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.suggestion {
    padding: 8px;
    cursor: pointer;
}
  
.suggestion:hover {
    background-color: #f1f1f1 ;
}

.suggestions-container {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.inputRecherche{
    width: 300px;
}


/*
* Produits
*/

.linkNewProd{
    text-decoration: none;
}

.paraNewProd{
    padding: 10px; 
    background-color: #2D4B73;
    width: 40px;
    font-size: 12px;
    text-align: center;
    border-radius: 1rem;
}


.divNewProd{
    display: flex;
    justify-content: end;
    margin-right: 10px !important;
}



.iconPlus{
    color: white;
}


.iconEditer{
    font-size: 20px;
    color: #2D4B73;
}

.divEditer{
    text-align: end;
    margin-top: 5px;
}

.msgInfo{
    text-align: center;
}

